/* src/theme/variables.css */

/* Warna Standar Ionic (Biru & Putih) */
:root {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /* Background Aplikasi (Abu-abu sangat muda agar kartu terlihat) */
  --ion-background-color: #f4f5f8;
  --ion-text-color: #000000;
}

/* Perbaikan Mode Gelap (Otomatis) - Agar input tidak hilang di HP dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
    --ion-item-background: #1c1c1d;
  }
}